* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, rgb(7, 16, 55), rgb(24, 114, 87));
    overflow: hidden;
}

.container {
    width: 80%;
    height: 75%;
    border-radius: 25px;
    position: relative;
    background: linear-gradient(to right top,rgba(32, 11, 123, 0.75),rgba(14, 5, 53, 0.75));
    backdrop-filter: blur(3px);
}

.backgr_img {
    position: absolute;
    top: 0;
    right: 70%;
    width: 250px;
    animation: slider 6s infinite linear;
}

@keyframes slider {
    from {transform: translateY(-25vh)}
    to {transform: translateY(100vh)}
}
